@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  background-color: #1976d2; /* Updated blue color */
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #1976d2; /* Updated blue color */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
}

.navLink:hover {
  background-color: #1565c0; /* Darker shade on hover */
}

